%table
     %tr
          %td

               - form_for @question, :url => '#' do |f|

                    %p
                         = f.label 'name'
                         = text_area_tag 'question_name', (@question.name unless @question.name.nil? or @question.name.empty?), :class => 'question-name'

                    %p
                         = f.label 'description'
                         = text_area_tag 'question_description', (@question.description unless @question.description.nil? or @question.description.empty?), :class => 'question-content'

                    %p
                         = f.label 'points'
                         = f.text_field 'points'

          %td
               %div
                    %p Lis채채 kuva
                    %p
                         %a(href="#show-picture") P=NP
                         %a(href="#delete-pic") [poista]
               %div
                    %p Lis채채 koodi
                    %p
                         %a(href="#show-code") automata
                         %a(href="#delete-code") [poista]
