- content_for :title do
  #{@course.name} :: #{t 'pages.exams.titles.generate'}

- content_for :left do
  = render :partial => 'exams/left'

- content_for :content do
  %h2= "#{@course.name} - #{t 'pages.exams.titles.generate'}"

  %p= link_to t('pages.exams.forms.generate.back'), new_course_generated_exam_path(@course.id)

  - if @generated_exam.questions.empty?
    %p= t('pages.exams.forms.generate.empty')

  - else
    - form_tag course_generated_exams_path(@course.id), :method => :post do

      = t('pages.exams.forms.generate.maxpoints')
      #{@generated_exam.maximum_points}

      %ol
        - @generated_exam.questions.each do |question|
          %div.questionblock
            %li.question #{simple_format(question.name)}
            %div.description #{simple_format(question_format(question))}
            %div.questionfooter
              %span.points
                = t('pages.exams.forms.generate.points')
                #{question.points}
              %span.change
                = check_box_tag question.number, "chosen", false
                = label_tag t('pages.exams.forms.generate.change_question')

        %div.generatebuttons
          = submit_tag t('pages.exams.forms.generate.generate')
          = hidden_field_tag "questions", @questions_string

          = submit_tag "PDF"
