- content_for :title do
     = "Haku :: #{@p}"
- content_for :content do
     %h2= "Hakusi oli: #{@p}"

     - if @result.empty?
          %p= "Hakusi ei tuottanut tuloksia"
     - else
          %ul
               - @result.each do |course|
                    %li= link_to course.name, exams_url(course.id)
