- content_for :title do
  Dashboard
- content_for :content do
  %h2= t 'courses.title'
  - unless flash[:notice].nil?
    %p.notifications=  flash[:notice]
  %table#basic_studies
    %tr
      %th= t 'courses.levels.basic'

    = render :partial => "courses/courses", :locals => {:courses => @basic_studies}

  %p= link_to t('pages.courses.showall'), basics_courses_path

  %table#intermediate_studies
    %tr
      %th= t 'courses.levels.intermediate'

    = render :partial => "courses/courses", :locals => {:courses => @intermediate_studies}

  %p= link_to t('pages.courses.showall'), intermediates_courses_path

  %table#advanced_studies
    %tr
      %th= t 'courses.levels.advanced'

    = render :partial => "courses/courses", :locals => {:courses => @advanced_studies}

  %p= link_to t('pages.courses.showall'), advanceds_courses_path

  %table#other_studies
    %tr
      %th= t 'courses.levels.other'
    = render :partial => "courses/courses", :locals => {:courses => @other_studies}

  %p= link_to t('pages.courses.showall'), others_courses_path
