- content_for :title do
  #{@course.name} :: #{t 'pages.exams.titles.add'}: #{@exam_builder.exam.name}

- content_for :content do
  :javascript
    $(document).ready(function(){
      $('#questions').sortable({
        axis: 'y',
        dropOnEmpty: false,
        items: 'li',
        opacity: 0.4,
        scroll: true,
        update: function() {
          $.post(
            '#{sort_course_exam_builder_questions_path(@course)}',
            $('#questions').sortable('serialize'),
            function(data) {
              $('#questions').html(data).effect('highlight');
            }
          );
        }
      });
    });

  %h2 #{@course.name} - #{t 'pages.exams.titles.add'}: #{@exam_builder.exam.name}

  %p Voit vaihtaa kysymyksien järjestystä siirtämällä haluamasi kysymyksen oikealle paikalle.

  %ol#questions
    = render(:partial => 'exam_builder/question', :collection => @exam_builder.exam.questions.rank(:showing_order))

  %p= link_to t('pages.exams.forms.questions.new'), new_course_exam_builder_question_path(@course)

  %p= link_to t('pages.exams.forms.editexam.back'), course_exam_builder_path(@course)
