- content_for :title do
  #{@course.name} :: #{t 'pages.exams.titles.add'}: #{@exam_builder.exam.name}

- content_for :content do
  %h2 #{@course.name} - #{t 'pages.exams.titles.add'}: #{@exam_builder.exam.name}

  = render :partial => "exams/questions", :locals => {:questions => @exam_builder.exam.questions, :points => @exam_builder.exam.maximum_points}

  #{link_to t('pages.exams.forms.editexam.button'), edit_course_exam_builder_path(@course)} | Other blah blah
