- courses.each do |course|
  %tr{:class => course.has_exams? ? '' : 'noexams'}
    %td
      = course.code
      = link_to "#{course.name}", course_exams_url(course)
      = "(#{course.credits} op)"

    %td= link_to t('pages.dashboard.practice'), generate_course_exams_url(course)
    %td.column3= link_to t('pages.dashboard.addnew'), new_course_exam_url(course)
