- courses.each do |course|
  %tr{:class => course.has_exams? ? '' : 'noexams'}
    %td
      = course.code
      = link_to "#{course.name}", course_exams_path(course)
      = "(#{course.credits} op)"

    %td= link_to t('pages.dashboard.practice'), new_course_generated_exam_path(course)
