- content_for :title do
     #{@course.name} #{@exam.name} :: #{t 'pages.exams.titles.edit'}
- content_for :header do
     %script(type="text/javascript")
          var dataObject = #{@exam.to_json}
     = javascript_include_tag "examedition"
- content_for :content do
     #exam_info

          %h2#name_of_exam= "#{@course.name} - #{@exam.name}"

     %p= link_to t('pages.exams.forms.questions.new'), '#new_question'

     #questions
          %ul

     #buttons
          %div= button_to t('pages.exams.forms.publish.back'), new_course_exam_url(@course.id), :method => :get
          %div= button_to t('pages.exams.forms.continue'), preview_course_exams_url(@course.id)
