- content_for :title do
     #{@course.name} #{@exam.name} :: #{t 'pages.exams.titles.edit'}
- content_for :content do
     #exam_info

          %p#name_of_exam= "#{@course.name} - #{@exam.name}"
          - form_for @exam, :url => exam_url(@course.id, @exam.id) do |f|
               %div= submit_tag t('pages.exams.forms.publish.submit')

     #questions
          %ul
               - @exam.questions.each do |question|
                    %li
                         = link_to "Question ##{question.id}", exam_question_url(@course.id, @exam.id, question.id)
                         %a(href="#remove")
                              %span.ui-icon.ui-icon-close Remove Tab
               %li.new-question= link_to t('pages.exams.forms.questions.new'), '#new_question', :id => "#{exam_path(@course.id, @exam.id)}"
