- content_for :title do
     #{@course.name} :: #{t 'pages.exams.titles.generate'}
- content_for :content do
     %h2= "#{@course.name} - #{t 'pages.exams.titles.generate'}"

     - if @exams.empty?
          %p= t('pages.exams.forms.generate.cannot_generate')
          
     - else
          
          - form_tag generate_preview_course_exams_url(@course.id), :method => 'get' do

               %div
                    = label_tag t('pages.exams.forms.generate.how_many')
                    = select_tag 'number', '<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>'
          
               - @course_themes.each do |ct|
                    %div
                         = check_box_tag ct.theme_id, "chosen", true
                         = label_tag ct.theme.name_fi
               %div
                    = check_box_tag 'themeless', 'chosen', true
                    = label_tag t('pages.exams.forms.generate.themeless')
     
               %div= submit_tag t('pages.exams.forms.generate.continue')