- content_for :title do
     #{@course.name} :: #{t 'pages.exams.titles.generate'}
- content_for :content do
     %h2= "#{@course.name} - #{t 'pages.exams.titles.generate'}"

     %p= link_to t('pages.exams.forms.generate.back'), generate_course_exams_url(@course.id)
     
     - if @generated_exam.questions.empty?
          %p Valitsemillesi teemoille ei löytynyt yhtään kysymystä.
     
     - else
          - form_tag generate_preview_course_exams_url(@course.id), :method => 'get' do

          
               %p Maksimipisteet: #{@generated_exam.maximum_points}
               - @generated_exam.questions.each do |question|
                    %h3 #{question.number}. #{question.name} 
                    %p #{question.description}
                    %p Pisteet: #{question.points}
                    %div
                         = check_box_tag question.number, "chosen", false
                         = label_tag t('pages.exams.forms.generate.change_question')
                         
               %div 
                    = submit_tag t('pages.exams.forms.generate.generate')
                    = hidden_field_tag "questions", @questions_string
               
               %div= submit_tag "PDF"