- content_for :title do
     #{@course.name} :: #{t 'pages.exams.titles.all'}
     
- content_for :content do
     %h2= @course.name

     #examlists

          %h3
               %a(href="#toggle")=t 'pages.exams.types.course-exams'
          .exams= render :partial => "table", :locals => {:exams => @course.exams.course_exams}
     
          %h3
               %a(href="#toggle")=t 'pages.exams.types.separate-exams'
          .exams= render :partial => "table", :locals => {:exams => @course.exams.separate_exams}
     
     
          %h3
               %a(href="#toggle")=t 'pages.exams.types.repeat-exams'
          .exams= render :partial => "table", :locals => {:exams => @course.exams.repeat_exams}
