- content_for :title do
     #{@course.name} :: #{t 'pages.exams.titles.all'}
     
- content_for :content do
     %h2= @course.name
     - form_for :image, :url => image_url, :html => { :multipart => true } do |f|
          = f.file_field :picture
          = f.submit
     
     #examlists

          = render :partial => "table", :locals => {:exams => @exams}
