- content_for :title do
     #{@course.name} :: #{t 'pages.exams.titles.add'}
- content_for :header do
     = javascript_include_tag 'examselection'
- content_for :content do
     %h2= "#{@course.name} - #{t 'pages.exams.titles.add'}"

     - form_for @exam, :url => course_exams_url(@course.id) do |f|
          %div= f.hidden_field :id

          %table.generator
               %tr
                    %td
                         %label{:for => :exam_name}= t('pages.exams.forms.selection.name')
                    %td
                         = select_tag :exam_name, options_for_select(exam_selection(@exams), 'new')

               %tr
                    %td
                         = f.label :course
                    %td
                         %span#course{:name => :course}= @course.name
               %tr
                    %td
                         = f.label :type
                    %td
                         = select_tag 'exam[type_id]', options_for_select(type_selection(@types))
               %tr
                    %td
                         = f.label :date
                    %td
                         = f.text_field :date
               %tr
                    %td
                         = f.label :maximum_points
                    %td
                         = f.text_field :maximum_points, :size => 3
                         %span.pcs
                              pistettä
               %tr
                    %td
                    %td
                         = t('pages.exams.forms.newexam.public_notification')
               %tr
                    %td
                    %td
                         = submit_tag t('pages.exams.forms.continue')

          - unless flash[:errors].nil? or flash[:errors].empty?
               %ul.errors
               - flash[:errors].each do |error|
                    %li #{error}

