#header

     #logo
          %h1= link_to('Tenttiarkisto', root_url)

     #login
          - if session[:user_id].nil?
               - form_for :session, :url => session_url do |f|
                    - field_set_tag 'Login' do
                         = f.label :username , 'Username'
                         = f.text_field :username
                         = f.label :password, 'Password'
                         = f.password_field :password
                         = submit_tag 'Log in'
          - else 
               = link_to 'Log out', session_url, :method => :delete

