#header

     #general

          #login
               - if session[:user_id].nil?
                    - form_for :session, :url => session_url do |f|
                         - field_set_tag login_title do
                              = f.label :username , user
                              = f.text_field :username
                              = f.label :password, passwd
                              = f.password_field :password
                              = submit_tag login
               - else 
                    = link_to logout, session_url, :method => :delete
                              
          %ul#links
               %li= link_to('FAQ', faq_url)

     #logo
          %h1= link_to('Tenttiarkisto', root_url)

#search
          
     - form_tag search_path, :method => :get do
          = text_field_tag :query
          = image_submit_tag "mag.png"
     
#crumbs Here &gt; comes &gt; crumb
