#main

     #left
          - if (@controller.controller_name == 'exams')
               -# tabs_on_rails gem making tabs if the current page is one of the exams pages
               - tabs_tag do |tab|
                    = tab.all t('pages.exams.tabs.all'), exams_url(@course)
                    = tab.generate t('pages.exams.tabs.generate'), generate_exams_url(@course)
                    = tab.new t('pages.exams.tabs.add'), new_exam_url(@course)
     
     #mainbody

          -# stupid history breadcrumbs are disabled
          -# #breadcrumb
               -# %script{:type=> "text/javascript"} doCrumbs();

          = render :partial => "layouts/search"

          #content= (yield :content or yield)

     #right
