!!!
%html

  %head

    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/

    %title Tenttiarkisto #{":: #{yield :title}" if yield(:title)}

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.2.custom.css', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = javascript_include_tag :defaults, 'locales', 'niftycube', 'showhide', 'autocomplete_search'

    = yield :header if yield :header

  %body

    #container

      #header

        #logo
          = link_to(image_tag("logo.png", :border => 0, :alt => "Tenttiarkisto", :title => "Tenttiarkisto"), root_path)

        #login
          - if signed_in?
            %span.title #{t('pages.session.logged_in')}:
            #{current_user.username}
            = link_to t('pages.session.logout'), destroy_user_session_path
            - if can? :access, :admin
              = link_to t('pages.session.admin'), admin_dashboard_path
          - else
            = form_for(User.new, :user, :url => session_path(:user)) do |f|
              %table
                %tr
                  %td= f.label :username, t('pages.session.form.username')
                  %td= f.label :password, t('pages.session.form.password')
                %tr
                  %td= f.text_field :username
                  %td= f.password_field :password
                  %td= submit_tag t('pages.session.form.submit')

      #main

        #left= render :partial => 'left' rescue nil

        #mainbody

          - unless flash[:notice].blank?
            %p.notifications= flash[:notice]
          - unless flash[:alert].blank?
            %p.notifications= flash[:alert]

          #search
            #box
              = form_tag search_path, :method => :get do
                %table
                  %tr
                    %td.textfield= text_field_tag :query
                    %td.submit= image_submit_tag "mag.png"

          #content= (yield :content or yield)

        #right

      #footer
        %span= link_to('FAQ', faq_path)
        %span | Copyright &copy; #{Date.today.year} Tarkisto Developers
