!!!
%html

     %head

          %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
          %title
               - if yield :title
                    = "Tenttiarkisto :: #{yield :title}"
               - else
                    Tenttiarkisto

          = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
          = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.2.custom.css', :media => 'screen, projection'
          = stylesheet_link_tag 'print.css', :media => 'print'
          /[if IE]
               = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

          = javascript_include_tag 'locales', 'jquery-1.4.2.min', 'jquery-ui-1.8.2.custom.min', :defaults, 'crumbs'

     %body

          #container

               = render :partial => "layouts/header"

               = render :partial => "layouts/navi"

               = render :partial => "layouts/main"

          = render :partial => "layouts/footer"
