!!!
%html

     %head

          %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
          %title= yield :title

          = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
          = stylesheet_link_tag 'print.css', :media => 'print'
          /[if IE]
               = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

     %body

          #container

               = render :partial => "layouts/header"

               #content

                    #tabs Tabs come here

                    #tab-content= (yield :content or yield)

               = render :partial => "layouts/footer"
