!!!
%html

     %head

          %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
          %title= yield :title

          = stylesheet_link_tag 'screen-exam.css', :media => 'screen, projection'
          = stylesheet_link_tag 'print.css', :media => 'print'
          /[if IE]
               = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

     %body

          #container

               = render :partial => "layouts/header"

               #content

                    #tabs 
                         -# tabs_on_rails gem making tabs, the tab titles are defined in the helper
                         - tabs_tag do |tab|
                              = tab.all all_exams, exams_url(:course_id => 1)
                              = tab.generate generate_exam, generate_exams_url(:course_id => 1)
                              = tab.new add_exam, new_exam_url(:course_id => 1)


                    #tab-content= (yield :content or yield)

               = render :partial => "layouts/footer"
