!!!
%html

     %head

          %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
          %title
               - if yield :title
                    = "Tenttiarkisto :: #{yield :title}"
               - else
                    Tenttiarkisto

          = stylesheet_link_tag 'screen-exam.css', :media => 'screen, projection'
          = stylesheet_link_tag 'print.css', :media => 'print'
          /[if IE]
               = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

          = javascript_include_tag 'crumbs', 'showhide'

     %body

          #container

               = render :partial => "layouts/header"
               
               = render :partial => "layouts/navi"

               #main

                    #left
                         -# tabs_on_rails gem making tabs
                         - tabs_tag do |tab|
                              = tab.all t('pages.exams.tabs.all'), course_exams_url(@course)
                              = tab.generate t('pages.exams.tabs.generate'), generate_course_exams_url(@course)
                              = tab.new t('pages.exams.tabs.add'), new_course_exam_url(@course)
               
               
                    #mainbody
               
                         #breadcrumb
                              %script{:type=> "text/javascript"} doCrumbs();
                    
                         #search
                              - form_tag search_path, :method => :get do
                                   = text_field_tag :query
                                   = image_submit_tag "mag.png"


                         #content

                              #tab-content= (yield :content or yield)
                         
                    #right

               = render :partial => "layouts/footer"
